<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.nus.medipalapplication">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--Splash Screen-->

        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"></activity>

        <activity
            android:name=".activity.ReminderConsumptionActivity"
            android:label="Reminder Consumption Activity"></activity>


        <activity
            android:name=".activity.PersonActivity"
            android:label="Add Details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeToolBar"></activity>

        <activity android:name=".activity.HealthBioActivity"></activity>

        <activity android:name=".activity.AddHealthBioActivity"
            android:label="Add Details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeToolBar"></activity>

        <activity
            android:name=".activity.AppointmentActivity"
            android:label="My Appointments"></activity>

        <activity
            android:name=".activity.SaveAppointmentActivity"
            android:label="Save Appointment"></activity>

        <activity
            android:name=".activity.MedicineActivity"
            android:label="Medicine"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeToolBar"></activity>
        <activity
            android:name=".activity.MedicineAddActivity"
            android:label="Add Medicine"
            android:parentActivityName=".activity.MedicineActivity"
            android:theme="@style/AppThemeToolBar"></activity>
        <activity
            android:name=".activity.MedicineEditActivity"
            android:label="Edit Medicine"
            android:parentActivityName=".activity.MedicineActivity"
            android:theme="@style/AppThemeToolBar"></activity>

        <activity
            android:name=".activity.CategoryActivity"
            android:label="Category"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeToolBar"></activity>
        <activity
            android:name=".activity.CategoryEditActivity"
            android:label="Edit Category"
            android:parentActivityName=".activity.CategoryActivity"
            android:theme="@style/AppThemeToolBar"></activity>

        <activity
            android:name=".activity.ConsumptionActivity"
            android:label="Consumption"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeToolBar"></activity>

        <activity
            android:name=".activity.ICETabLayoutActivity"
            android:label="ICE"
            android:parentActivityName=".MainActivity"
            android:theme="@style/TabLayoutTheme"></activity>
        <activity android:name=".activity.AddReminderActivity" />

        <receiver android:name=".activity.ReminderSetter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".service.ReminderReceiver"></receiver>

        <service android:name=".service.ReminderService"></service>

        <activity
            android:name=".activity.AddNOKActivity"
            android:label="ICE"
            android:parentActivityName=".activity.ICETabLayoutActivity"
            android:theme="@style/TabLayoutTheme"></activity>

        <activity
            android:name=".activity.AddDoctorActivity"
            android:label="ICE"
            android:parentActivityName=".activity.ICETabLayoutActivity"
            android:theme="@style/TabLayoutTheme"></activity>

        <activity
            android:name=".activity.MeasurementActivity"
            android:label="Measurement"
            android:parentActivityName=".MainActivity"
            android:theme="@style/TabLayoutTheme"></activity>


        <activity
            android:name=".activity.HelpActivity"
            android:label="Help"
            android:parentActivityName=".MainActivity"
            android:theme="@style/TabLayoutTheme"></activity>

        <activity
            android:name=".activity.AddPressureActivity"
            android:label="Add Blood Pressure"
            android:parentActivityName=".activity.MeasurementActivity"
            android:theme="@style/AppThemeToolBar" />

        <activity
            android:name=".activity.AddPulseActivity"
            android:label="Add Pulse"
            android:parentActivityName=".activity.MeasurementActivity"
            android:theme="@style/AppThemeToolBar" />

        <activity
            android:name=".activity.AddTemperatureActivity"
            android:label="Add Temperature"
            android:parentActivityName=".activity.MeasurementActivity"
            android:theme="@style/AppThemeToolBar" />

        <activity
            android:name=".activity.AddWeightActivity"
            android:label="Add Weight"
            android:parentActivityName=".activity.MeasurementActivity"
            android:theme="@style/AppThemeToolBar" />

        <activity
            android:name=".activity.PressureDisplayEditUpdateActivity"
            android:label="Edit Blood Pressure"
            android:parentActivityName=".activity.MeasurementActivity"
            android:theme="@style/AppThemeToolBar" />

        <activity
            android:name=".activity.PulseDisplayEditUpdateActivity"
            android:label="Edit Pulse"
            android:parentActivityName=".activity.MeasurementActivity"
            android:theme="@style/AppThemeToolBar" />

        <activity
            android:name=".activity.TemperatureDisplayEditUpdateActivity"
            android:label="Edit Temperature"
            android:parentActivityName=".activity.MeasurementActivity"
            android:theme="@style/AppThemeToolBar" />

        <activity
            android:name=".activity.WeightDisplayEditUpdateActivity"
            android:label="Edit Weight"
            android:parentActivityName=".activity.MeasurementActivity"
            android:theme="@style/AppThemeToolBar" />

        <activity
            android:name=".activity.AboutUsActivity"
            android:label="About Us"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeToolBar" />

    </application>

</manifest>