<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.nus.medipalapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--Splash Screen-->
        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>

        <activity
            android:name=".activity.PersonActivity"
            android:label="Add your details"></activity>

        <activity
            android:name=".activity.HealthBioActivity"
            android:label="HealthBio"></activity>

        <activity
            android:name=".activity.AddHealthBioActivity"
            android:label="AddHealthBio"></activity>

        <activity
            android:name=".activity.AppointmentActivity"
            android:label="Add Appointment"></activity>

        <activity
            android:name=".activity.SaveAppointmentActivity"
            android:label="Save Appointment"></activity>

        <activity
            android:name=".activity.MedicineActivity"
            android:label="Medicine"></activity>
        <activity
            android:name=".activity.MedicineAddActivity"
            android:label="Add Medicine"></activity>
        <activity
            android:name=".activity.MedicineEditActivity"
            android:label="Edit Medicine"></activity>

        <activity
            android:name=".activity.CategoryActivity"
            android:label="Category"></activity>
        <activity
            android:name=".activity.CategoryEditActivity"
            android:label="Edit Category"></activity>

        <activity
            android:name=".activity.ConsumptionTabsActivity"
            android:label="Consumption"
            android:theme="@style/TabLayoutTheme"></activity>

        <activity
            android:name=".activity.ICETabLayoutActivity"
            android:label="ICE"
            android:theme="@style/TabLayoutTheme"></activity>

        <activity
            android:name=".activity.MeasurementActivity"
            android:label="Measurement"
            android:theme="@style/TabLayoutTheme"></activity>

        <activity android:name=".activity.AddPressureActivity" />
        <activity android:name=".activity.AddPulseActivity" />
        <activity android:name=".activity.AddTemperatureActivity" />
        <activity android:name=".activity.AddWeightActivity" />
        <activity android:name=".activity.PressureDisplayEditUpdateActivity" />
        <activity android:name=".activity.PulseDisplayEditUpdateActivity" />
        <activity android:name=".activity.TemperatureDisplayEditUpdateActivity" />
        <activity android:name=".activity.WeightDisplayEditUpdateActivity"></activity>


    </application>

</manifest>